# Evita que el install falle por los warnings de peers del ecosistema rc-* de antd
strict-peer-dependencies=false
auto-install-peers=true
@idce:registry=https://pkgs.dev.azure.com/idceconsulting/Starter%20Kit%20React/_packaging/idce-kit/npm/registry/